<h1>Provisional Status</h1>
{{report-list students=model}}
<h4 style='text-align: center'>The students listed above have met the following requirements:</h4>
<ul class='list-inline'>
    <li>EDUC 125 C or above</li>
    <li>Felony Statement</li>
    <li>Autobiography</li>
    <li>Speech & Hearing</li>
    <li>Myers-Brigs</li>
    <li>Observation Hours</li>
    <li>Provisional Application</li>
    <li>Recommendations</li>
    <li>GPA 2.75 or above</li>
</ul>